@font-face {
    font-family: 'Simon';
    src: url(font.otf);
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    font-family: 'Simon', sans-serif;
    border: 5px dashed blanchedalmond;
    justify-content: center;
    align-items: center;
    color: grey;
    font-style: italic;
    font-size: 600%;
    margin: 20px;
}

body {
    display: grid;
    border: 5px dashed;
    height: 100vh;
    grid-template-rows: 17% 70% 13%;
    background-color: black;
}

.blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border: 5px dashed blanchedalmond;
    margin: 0px 20px 20px 20px;
    padding: 20px;
    /* shadow: ;*/
    /* rounded boxes */
}

div:hover {
    transform: scale(1.1);
}

button:hover {
    transform: scale(1.3);
    background-color: red;
}

button {
    padding: 10px;
}

.green {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    border: 3px solid green;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: green;
}

.red {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 4;
    border: 3px solid red;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: red;
}

.yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
    border: 3px solid yellow;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: yellow;
}

.blue {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 4;
    border: 3px solid blue;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: blue;
}

#block {
    font-family: 'Simon';
}

.buttons {
    display:flex;
    border: 3px dashed; 
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0px 20px 20px 20px;
    padding: 20px;
    border: 5px dashed blanchedalmond
    /* font-style: ; */
}

/* .next {
    visibility: hidden;
} */